<%- include('./common/head.ejs')%>
  <body class="d-flex flex-column min-vh-100">
    <%- include('./common/navbar.ejs')%>

    <div class="container m-5">
      <h1>oh, hi mark</h1>
      <div> register</div>
            
    </div>
    
    <%- include('./common/footer.ejs')%>
  </body>
</html>
