<%- include('./partials/head.ejs')%>
  <body class="d-flex flex-column min-vh-100">
    <%- include('./partials/navbar.ejs')%>

    <div class="container-fluid my-5">
      <div class="text-center my-5">
      <h1>oh!, hi mark</h1>
      <div> Welcome to the Ark System from Arkantos Inc., please Log In</div>
       <button type="button" class="btn btn-primary my-3"><a class="nav-link" href="/login">Log In</a></button>     
    </div>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
