<%- include('./partials/head.ejs')%>
  <body class="d-flex flex-column min-vh-100">
    <%- include('./partials/navbar.ejs')%>

      <div class="container-fluid my-5">
      <div class="w-25 mx-auto">
      <h1>Sign In</h1>
      <form class="my-4" id="signInForm">
        <div class="mb-3">
    <input type="text" name="firstName" class="form-control" placeholder="First name" aria-label="First name" id="firstName" >
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" name="lastName" placeholder="Last name" aria-label="Last name" id="lastName">
  </div>
  <div class="mb-3">
    <input type="email" class="form-control" name="email" placeholder="Email" aria-describedby="emailHelp" id="email">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Password" id="password">
  </div>
   <div class="mb-3">
    <input type="password" class="form-control" name="passwordCheck" placeholder="Repit Password" id="passwordCheck">
  </div>
  <button type="submit" class="btn btn-primary my-3">Submit</button>
</form>
         </div>  
         <div class="text-center">
          *All fields required. Password must be at least 8 char long, must have an upper case and a special char.
         </div> 
    </div>
    
    <%- include('./partials/footer.ejs')%>

    <script src="/js/signInValidation.js"></script>
  </body>
</html>
